em strong {
  color: #f00;
}

.center-text {
  text-align: center;
}

#banner {
  width: 100%;
}

#mission {
  font-size: 20px;
}

.differentials > h2:nth-child(1) {
  text-align: center;
}

.items {
  font-style: italic;
}

.main {
  background-color: #ccc;
}