body {
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 940px;
  margin: 0 auto;
}

.banner {
  width: 100%;
}

.items {
  font-style: italic;
}

/*.main {
  background-color: #ccc;
  padding: 20px;
}*/

.main-title {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.utensils {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.main > p {
  margin: 0 0 1em;
}

.main strong {
  font-weight: bold;
}

.main em {
  font-style: italic;
}

.diff {
  padding: 30px;
}

.diff-img {
  width: 60%;
}

.diff > ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.map {
  padding: 3em 0;
}

.map p {
  margin: 0 0 2em;
  text-align: center;
}