header {
  background-color: #bbb;
  padding: 20px 0;
}

nav {
  position: absolute;
  top: 50%;
  right: 0px;
}

.header-content-guide {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

nav > a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  margin: 0 0 0 15px;
}

.products {
  width: 75%;
  margin: 0 auto;
  padding: 50px;
}

.products li{
  position: relative;
  display: inline-block;
  text-align: center;
  border: solid 1px #004;
  width: 30%;
  vertical-align: top;
}

.products h2 {
  font-size: 30px;
  font-weight: bold;
}

.product-description {
  font-size: 18px;
}

.product-price {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  bottom: 0;
}