header {
  background-color: #bbb;
}

nav {
  position: absolute;
  top: 0px;
  right: 0px;
}

nav > a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  margin: 0 0 0 15px;
}